<div ng-controller="mcs-stellar-api.RegistrationFormWidgetController as widget">
  <h2>Register</h2>
  <div class="tip">{{ widget.errors.usernameErrors.join('\n') }}</div>
  <div>
    Username:
    <input type="text" ng-model="widget.username" />
  </div>
  <div class="tip">{{ widget.errors.passwordErrors.join('\n') }}</div>
  <div>
    Password:
    <input type="password" ng-model="widget.password" />
  </div>
  <div>
    Confirm Password:
    <input type="password" ng-model="widget.passwordConfirmation" />
  </div>
  <div class="tip">{{ widget.errors.captchaErrors.join('\n') }}</div>
  <div>
    Captcha:
    <div
      vc-recaptcha
      key="widget.recaptchaKey"
      theme="'light'"
      on-create="widget.setRecaptchaWidgetId(widgetId)"
      on-success="widget.onRecaptchaSuccess(response)"
      ></div>
  </div>
  <div>
    <button ng-click="widget.register()">Register</button>
  </div>
</div>
